/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root{
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #EAEDA8;
    --text-secondary: #FFFFDE;
    --bg-primary: #4E8956;
    --bg-secondary: #345F30;
    --off-white: #F5F7F3;
    --border-color: #2C5530;
    --transition-speed: .5s;
}

body{
    margin-top: 6rem;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
}

.main-content{
    margin: auto;
    width: 85%;
    clear: both;
}

/* ----- Navigation Styling ----- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    padding: 0 !important;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 1.5rem .8rem 1.5rem .8rem;
}

nav ul li a {
    color: var(--text-primary);
    transition: transform .3s;
}

/* A selector for all child elements in a nav? */

nav ul li:hover {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    
    
}

.ka-text {
    padding-left: .5rem;
    margin: 0;
    color: var(--text-secondary);
    white-space: nowrap;
}

/* ----- Main Content Styling ----- */

.about-block {
    display: flex;
    border-bottom: 2px solid var(--border-color);
}

.about-block-column {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--border-color);
}

.about-text {
    max-width: 700px;
    flex-shrink: 1.1;
    display: flex;
    flex-direction: column;
}

.about-text p {
    width: 100%;
}

.pic-container {
    margin-left: 1rem;
    margin-bottom: .5rem;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--off-white);
}

.pic-container figure {
    margin: 0;
    padding: .5rem;
    border: 2px solid var(--border-color);
}

.pic-container figcaption {
    max-height: 50px;
    /* overflow property */
    font-size: .8rem;
    padding-top: .5rem;
    border-top: 2px solid var(--border-color);
    margin: 1rem 1rem;
    margin-bottom: .5rem;
}

.pic-container img {
    width: 100%;
}

.double-pic-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    padding: .3rem;
    margin: .2rem;
}

.double-pic-wrapper .pic-container {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-width: 50%;
    min-width: 200px;
    margin: 0;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}